@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;800&display=swap");
.titulo-section, .section-colecciones .coleccion-contenido .coleccion div h2 {
  font-weight: 800;
  font-size: 30px;
  padding: 15px 0;
  text-align: center;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

nav {
  height: 70px;
  box-shadow: -1px 5px 17px -4px rgba(114, 114, 114, 0.7490196078);
  background-color: #fff;
}
nav div {
  background-color: #fff;
}
nav div .logo-nav {
  padding-left: 15px;
}
nav div .logo-nav img {
  width: 50px;
}
nav div .boton-nav {
  border: none;
}
nav div .boton-nav:focus {
  box-shadow: none;
}
nav div .boton-nav-icono {
  width: 35px;
}
nav div .nav-items {
  width: 100%;
  align-items: center;
}
nav div .nav-items a {
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  text-transform: uppercase;
  color: #464648;
  padding: 22px !important;
}
nav div .nav-items a:hover {
  color: #ffb700;
  border-bottom: #ffb700 solid 3px;
}
nav div .nav-items .active {
  color: #ffb700 !important;
  border-bottom: #ffb700 solid 3px;
}

@media (min-width: 992px) {
  nav {
    box-shadow: none;
  }
}
footer {
  background-color: #000;
  color: #fff;
  display: flex;
  flex-direction: column;
  padding-top: 10px;
}
footer div {
  padding: 10px 5px;
  margin: auto;
}
footer div p {
  text-align: center;
}
footer div p img {
  width: 22px;
}
footer .redes-container {
  display: flex;
  justify-content: space-evenly;
}
footer .redes-container .redes-logo {
  width: 35px;
  filter: invert(1);
}
footer .redes-container .redes-logo:hover {
  filter: invert(73%) sepia(85%) saturate(2598%) hue-rotate(1deg) brightness(106%) contrast(103%);
}
footer .footer-logo {
  width: 70px;
  filter: invert(1);
}

@media (min-width: 768px) {
  footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 15px 20px 10px;
    align-items: center;
    justify-items: center;
  }
}
.inicio__primario {
  position: relative;
  padding-top: 70px;
  display: flex;
  flex-direction: column;
  text-align: center;
}
.inicio__primario .alambre1 {
  display: none;
}
.inicio__primario .alambre2 {
  position: absolute;
  width: 250px;
  bottom: -50px;
  right: 0;
  z-index: -10;
}
.inicio__primario .text-container .img-titulo {
  width: 300px;
}
.inicio__primario .vid-container {
  display: flex;
  justify-content: center;
  z-index: -20;
}
.inicio__primario .vid-muestra {
  min-width: 300px;
  max-width: 450px;
}
.inicio__secundario {
  display: flex;
  flex-direction: column;
}
.inicio__secundario div {
  position: relative;
  overflow: hidden;
  margin-top: 5px;
}
.inicio__secundario div a:hover > .capa {
  opacity: 1;
}
.inicio__secundario div a:hover > img {
  transform: scale(1.1);
}
.inicio__secundario div a img {
  width: 100%;
  filter: grayscale(1);
  aspect-ratio: 34/47;
  -o-object-fit: cover;
     object-fit: cover;
  transition: all 2.2s cubic-bezier(0.14, 0.4, 0.09, 0.99);
}
.inicio__secundario div a div {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  margin-top: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.4s ease;
  opacity: 0;
}
.inicio__secundario div a div p {
  color: #fff;
  font-size: 30px;
  font-weight: 800;
  text-transform: uppercase;
  transition: all 400ms ease-out;
}

@media (min-width: 768px) {
  .inicio__primario {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    align-items: center;
  }
  .inicio__primario .alambre2 {
    width: 45vw;
    bottom: -70px;
  }
  .inicio__primario .img-titulo {
    width: 70%;
  }
  .inicio__secundario {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
  }
  .inicio__secundario img {
    width: 100%;
  }
}
@media (min-width: 992px) {
  .inicio__primario .alambre1 {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 25vw;
    z-index: 2000;
  }
  .inicio__primario .alambre2 {
    bottom: -200px;
  }
  .inicio__primario .vid-container {
    width: 100%;
    justify-content: flex-start;
  }
}
.tienda {
  padding-top: 70px;
}
.tienda__products {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 25px;
  padding: 0 10px 25px;
}
.tienda__products div {
  display: flex;
  flex-direction: column;
  padding: 16px;
}
.tienda__products div img {
  width: 100%;
  aspect-ratio: 4/5;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
  filter: grayscale(0.6);
  transition: all 0.4s;
}
.tienda__products div img:hover {
  filter: grayscale(0);
}
.tienda__products div p {
  padding-left: 10px;
}
.tienda__products div p span {
  text-transform: uppercase;
  font-weight: 800;
  font-size: 12px;
}
.tienda__products div a {
  color: #fff;
  background-color: #ffb700;
  text-decoration: none;
  font-weight: 600;
  padding: 3px 5px;
  border-radius: 10px;
  align-self: flex-end;
  margin-right: 10px;
}

.section-colecciones {
  padding-top: 70px;
}
.section-colecciones .coleccion-contenido {
  display: flex;
  flex-direction: column;
}
.section-colecciones .coleccion-contenido .coleccion {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 10px;
  text-align: justify;
}
.section-colecciones .coleccion-contenido .coleccion img {
  -o-object-fit: cover;
     object-fit: cover;
}
.section-colecciones .coleccion-contenido .coleccion div h2 {
  color: #ffb700;
  font-size: 26px;
}
.section-colecciones .coleccion-contenido .invert {
  flex-direction: column-reverse;
}

@media (min-width: 992px) {
  .section-colecciones .coleccion-contenido .coleccion {
    flex-direction: row;
    padding: 15px;
    align-items: center;
    justify-content: space-evenly;
  }
  .section-colecciones .coleccion-contenido .coleccion div {
    padding: 0 15px;
    width: 35%;
  }
  .section-colecciones .coleccion-contenido .coleccion img {
    width: 50%;
  }
}
.nosotros {
  padding: 70px 20px 20px;
  text-align: justify;
}
.nosotros img {
  width: 70%;
  display: block;
  margin: auto;
  margin-right: 0;
}
.nosotros h3 {
  color: #ffb700;
  text-align: center;
  padding: 20px 0 10px;
}

@media (min-width: 768px) {
  .nosotros {
    padding: 70px 100px 20px;
  }
  .nosotros img {
    width: 50%;
  }
}
.contacto {
  padding-top: 70px;
  min-height: 100vh;
  display: flex;
}
.contacto .form-container {
  display: grid;
  grid-template-columns: 1fr;
  max-width: 500px;
  margin: auto;
  padding: 20px;
  text-align: justify;
}
.contacto form {
  display: flex;
  flex-direction: column;
}
.contacto form input {
  padding: 10px 0;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #ffb700;
}
.contacto form input:focus {
  outline: none;
  animation-name: borde-bajo;
  animation-iteration-count: infinite;
  animation-duration: 2s;
}
@keyframes borde-bajo {
  0% {
    -o-border-image: linear-gradient(90deg, #ffb700 50%, #fff 100%);
       border-image: linear-gradient(90deg, #ffb700 50%, #fff 100%);
    border-bottom: 2px solid transparent;
    border-image-slice: 1;
  }
  50% {
    -o-border-image: linear-gradient(90deg, #fff 50%, #ffb700 100%);
       border-image: linear-gradient(90deg, #fff 50%, #ffb700 100%);
    border-bottom: 2px solid transparent;
    border-image-slice: 1;
  }
  100% {
    -o-border-image: linear-gradient(90deg, #ffb700 50%, #fff 100%);
       border-image: linear-gradient(90deg, #ffb700 50%, #fff 100%);
    border-bottom: 2px solid transparent;
    border-image-slice: 1;
  }
}
.contacto form .boton {
  background-color: #ffb700;
  color: #fff;
  font-size: 18px;
  font-weight: 600;
}/*# sourceMappingURL=style.css.map */