@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;800&display=swap");

.titulo-section {
  font-weight: 800;
  font-size: 30px;
  padding: 15px 0;
  text-align: center;
}

// Variables

$color-primario: #ffb700;
