.nosotros {
    padding: 70px 20px 20px;
    text-align: justify;
    img {
        width: 70vw;
        display: block;
        margin: auto;
    }
    h3{
        color: #ffb700;
        text-align: center;
        padding: 20px 0 10px;
    }
}